@import url("/variaveis.css");




body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 8%);
    font-family: inter,sans-serif;
}

@font-face {
    font-family: inter;
    src: url("/social-links-profile-main/social-links-profile-main/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}



p{
    font-size: calc(16px * 0.875);
    font-weight: 400;
    
}


.avatar{
    border: 4px solid transparent;
    border-radius: 50%;
    height: 6.2rem;
}


.card{
    text-align: center;
    color: var(--cor-texto-claro);
    background-color: var(--cor-fundo-carta);
    padding: 40px 40px;
    border: 4px solid transparent;
    border-radius: 10px;
}


.texto-verde{
    color: var(--cor-verde);
    font-weight: 600;
    /* margin-top: 0px; */
    inset-inline-start: 0px;
}
.name{
    font-weight: 400;
    margin-bottom: 10px;

}

.desc{
    font-weight: 300;
    color: var(--cor-texto-claro);
    margin-bottom: 20px;
}

.link{
    background-color: var(--cor-fundo-link);
    text-decoration: none;
    color: var(--cor-texto-claro);
    border: 4px solid transparent;
    border-radius: 8px;
    padding: 5px;
}

.link:hover{
    background-color: var(--cor-verde);
    color: hsl(0, 0%, 8%);

}


.links {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, auto);
    width: calc(16px * 18.75);
    font-weight: 600;


}